* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-family: monospace;
}

body {
  padding: 40px;
}

h1 {
  padding-bottom: 15px;
  border-bottom: 1px dashed black;
  margin-bottom: 14px;
}
