* {
  margin: 0;
  border: 0;
  padding: 0;
  line-height: 1.5em;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

#pixel-canvas {
  width: 100%;
  height: 100%;
}
